/* ======================== */
/* Variables de la paleta de colores */
/* ======================== */
:root {
  --color-principal: #D4A761; /* Oscurecido un poco para mejor contraste */
  --color-secundario: #E98010;
  --color-fondo: #201205;
}

/* ======================== */
/* Reset y estilos generales */
/* ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================== */
/* Estilos generales del body */
/* ======================== */
body {
  font-family: Arial, sans-serif;
  color: var(--color-principal);
  background: url("../images/1_original.jpg");
  background-size: cover;
  background-color: rgba(32, 18, 5, 0.8); /* Fondo con opacidad */
  background-blend-mode: overlay;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ======================== */
/* Estilos para la portada */
/* ======================== */

/* Barra de navegación */
nav {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Links de la barra de navegación */
nav a {
  color: var(--color-principal);
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s, transform 0.3s;
}

nav a:hover {
  color: var(--color-secundario);
  transform: scale(1.1);
}

/* Logo de la barra de navegación */
nav .logo {
  max-width: 150px; /* Ancho máximo del logo */
  max-height: 150px; /* Alto máximo del logo */
  overflow: hidden; /* Evita que el contenido se salga */
}

nav .logo img {
  object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
  transition: transform 0.3s, filter 0.3s;
}

nav .logo img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px var(--color-secundario));
}

/* Título principal */
.title {
  font-family: 'Poppins',sans-serif;
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-principal);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra más oscura para mejor contraste */
  transition: transform 0.3s, color 0.3s;
}

.title:hover {
  transform: scale(1.1);
}

/* Subtítulo */
.subtitle {
  font-family: 'Poppins',sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: var(--color-principal);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Sombra más oscura para mejor contraste */
  transition: transform 0.3s, color 0.3s;
}

.subtitle:hover {
  transform: scale(1.1);
}

/* Animación para el logo central */
.content img {
  height: auto;
  transition: transform 0.3s, filter 0.3s;
}

.content img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px var(--color-secundario));
}



/* ======================== */
/* Estilos para la página de Precios */
/* ======================== */

/* Estilo general */
body#body_precios {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at center, #E98010 10%, #201205 100%);
  color: #ECE4DB;
}

/* Contenedor del encabezado superior */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.branding, .hashtag {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ECE4DB;
}

.branding {
  text-align: left;
  letter-spacing: 5px;
}

.hashtag {
  text-align: right;
}

/* Contenedor de precios */
.pricing-container {
  text-align: center;
  padding: 100px 20px 50px; /* Ajustar margen superior para espacio */
}

header h1 {
  font-size: 120px;
  margin-bottom: 10px;
  color: #ECE4DB;
}

header p {
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: #ECE4DB;
}

/* Planes */
.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.plan {
  background: var(--color-fondo);
  border-radius: 10px;
  border: 2px solid black;
  padding: 30px; /* Aumentar espacio interno */
  width: 300px; /* Aumentar ancho */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #ECE4DB;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out; /* Transiciones para la animación */
}

.plan:hover {
  transform: rotate(3deg) scale(1.1); /* Rotación y escalado */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
  background: linear-gradient(135deg, #2E2E2E, #ECE4DB); /* Cambio de fondo */
}

.plan h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ECE4DB;
}

.plan p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ECE4DB;
}

.plan h3 {
  font-size: 2rem;
  color: #ECE4DB;
  margin-bottom: 20px;
}

/* Botón */
button {
  background: linear-gradient(90deg, var(--color-secundario), var(--color-principal));
  color: var(--color-fondo);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.plan ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.plan ul li {
  margin: 10px 0; /* Espacio uniforme arriba y abajo */
}



/* ======================== */
/* Estilos para la página de Contacto */
/* ======================== */

body#body_contacto {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-principal);
}

.contact-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--color-principal);
  border: 2px solid var(--color-secundario);
  border-radius: 10px;
  max-width: 800px; /* Ajusta según el ancho deseado */
  /*margin: 50px 0; /* Quita el margen izquierdo que centra */
  /*margin-left: 0; /* Asegúrate de que se alinee completamente a la izquierda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-fondo);
}


.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra el contenido dentro del contenedor */
  gap: 20px;
}

.contact-info {
  flex: 1;
  max-width: 400px;
  text-align: left; /* Alinea el texto dentro del bloque */
}

.calendly-container {
  flex: 2;
  padding: 20px;
  background-color: var(--color-fondo);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* ======================== */
/* Estilos para la página de Servicios */
/* ======================== */


body#body_servicios {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #FFD590;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #FFD590;
  margin-bottom: 20px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service {
  background: #201205;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
  color: #FFD590;
}

.service:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 3rem;
  color: #FFD590;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.service-description {
  font-size: 0.95rem;
  color: #FFD590;
}

button {
  background-color: #E98010;
  border: none;
  color: #FFD590;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FFD590;
  color: #201205;
}

